{% extends "base.html" %}

{% block title %}A simple blog{% endblock %}

{% block body %}
    <div class="row">
        <div class="twelve columns">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <span>{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    {% if posts %}
        {% for post in posts %}
            <div class="row">
                <article class="twelve columns">
                    <a href="{{ url_for('post.single_post', post_id=post.id) }}">
                        <h2>{{ post.title }}</h2></a>
                    <span class="post-details">Posted at: {{ post.post_date }}</span>
                    {{ post.text|safe|truncate(256, True) }}
                </article>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no posts</p>
    {% endif %}


    <div class="row">
        <div class="twelve columns">
            <a class="float-right" href="{{ url_for('home.index') }}">Home</a>
        </div>
    </div>
{% endblock %}
