/*
*	General styles
*
*	Banner
*
*	Nav
*
*	Forms
*
*	Posts
*/


/** General styles **/

body {
	font-size: 1.8em;
	line-height: 1.65em;
}

.overview thead {
	font-weight: bold;
}

.float-right {
	float: right;
}

/** Banner **/

.banner {
	display: block;
	padding-top: 1em;
	text-align: center;
}

/** Nav **/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
	display: inline-block;
}

nav li a {
    display:flex;
    justify-content:center;
    align-items:center;
	font-size: 175%;
}

nav li a:hover {
	color: #4682b4;
}

/** Forms **/

.input-post-title {
    width: 100%;
}

.input-post-textarea {
    width: 100%;
    height: 50rem;
}

/** Posts **/

article {
	margin: auto;
	padding: 0 1em;
}

article p {
	margin-bottom: 2em;
}

.post-details {
	color: #444444;
	margin-bottom: 0.5em;
	font-style: italic;
	font-size: 1em;
}
