/*
*	General styles
*
*	Banner
*
*	Nav
*
*	Forms
*
*	Posts
*
*	Tabs
*/


/** General styles **/

body {
	font-size: 1.8em;
	line-height: 1.65em;
}

a {
	color: #3498db;
	text-decoration: none;
}

a:hover {
	color: #1A75B1;
	text-decoration: underline;
}

.overview thead {
	font-weight: bold;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

/** Banner **/

.banner {
	display: block;
	padding-top: 1em;
	text-align: center;
}

/** Nav **/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
	display: inline-block;
}

nav li a {
    display:flex;
    justify-content:center;
    align-items:center;
	font-size: 175%;
}

/** Forms **/

.input-post-title {
    width: 100%;
}

.input-post-textarea {
    width: 100%;
    height: 50rem;
}

/** Posts **/

article {
	margin: auto;
	padding: 0 1em;
}

article p {
	margin-bottom: 2em;
}

.post-details {
	color: #444444;
	margin-bottom: 0.5em;
	font-style: italic;
	font-size: 1em;
}

/** Tabs **/

.tabs {
    float: none;
    list-style: none;
}

.tabs input[type=radio] {
    display:none;
}

.tabs label {
    display: block;
    float: left;
    color: #ccc;
    font-size: 2em;
    margin-right: 10px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    transition: all 0.5s;
}

.tabs label:hover {
    color: #3498db;
    border-bottom: 4px solid #3498db;
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
    }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.tabs [id^="tab"]:checked + label {
    border-bottom: 4px solid #3498db;
    color: #3498db;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2 {
    display: block;
}