/*
*   Fonts
*
*	General styles
*
*	Banner
*
*	Nav
*
*	Forms
*
*	Posts
*
*	Tabs
*
*   Tables
*/

/** Fonts **/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k8s29t');
  src:  url('fonts/icomoon.eot?k8s29t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k8s29t') format('truetype'),
    url('fonts/icomoon.woff?k8s29t') format('woff'),
    url('fonts/icomoon.svg?k8s29t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-cross:before {
  content: "\ea0f";
}

/** General styles **/

body {
	font-size: 1.85em;
	line-height: 1.7em;
}

a {
	color: #3498db;
	text-decoration: none;
}

a:hover {
	color: #1A75B1;
	text-decoration: underline;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

/** Banner **/

.banner {
	display: block;
	padding-top: 1em;
	text-align: center;
}

/** Nav **/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
	display: inline-block;
}

nav li a {
    display:flex;
    justify-content:center;
    align-items:center;
	font-size: 175%;
}

/** Forms **/

.input-post-title {
    width: 100%;
}

.input-post-textarea {
    width: 100%;
    height: 50rem;
}

/** Posts **/

article {
	margin: auto;
	padding: 0 1em;
}

article p {
    margin: 1.5em;
    max-width: 40em;
}

.post-details {
	color: #444444;
	margin-bottom: 0.5em;
	font-style: italic;
	font-size: 1em;
}

/** Tabs **/

.tabs {
    float: none;
    list-style: none;
}

.tabs input[type=radio] {
    display:none;
}

.tabs label {
    display: block;
    float: left;
    color: #ccc;
    font-size: 2em;
    margin-right: 10px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    transition: all 0.5s;
}

.tabs label:hover {
    color: #3498db;
    border-bottom: 4px solid #3498db;
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
    }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
    }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.tabs [id^="tab"]:checked + label {
    border-bottom: 4px solid #3498db;
    color: #3498db;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2 {
    display: block;
}

/** Tables **/

.overview {
    border-spacing: 5px;
}

.overview h6 {
    font-size: 1.7rem;
    margin: 0;
}

.overview thead td {
    font-weight: bold;
    text-align: center;
}

.overview td,
.overview th {
    padding: 0.3em;
}

.overview .button {
    text-decoration: none;
}