{% extends "base.html" %}

{% block title %}A simple blog{% endblock %}

{% block body %}
    {% if posts %}
        {% for post in posts %}
            <div class="row">
                <article class="twelve columns">
                    <a href="{{ url_for('post.single_post', post_id=post.id) }}">
                    <h4>{{ post.title }}</h4></a>
                    <span class="post-details">Posted at: {{ post.post_date }}</span>
                </article>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no posts</p>
    {% endif %}

    <div class="row">
        <div class="twelve columns">
            {% if session['logged_in'] %}
                <a href="{{ url_for('admin.add_post') }}">Add a new post</a>
            {% endif %}
            <a class="float-right" href="{{ url_for('home.index') }}">Home</a>
        </div>
    </div>
{% endblock %}
