{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="row">
        <article class="twelve columns">
            <h2>{{ post.title }}</h2>
            <span class="post-details">Posted at: {{ post.post_date }}</span>
            {{ post.text|safe }}
        </article>
    </div>

    <div class="row">
        <div class="twelve columns">
            {% if session['logged_in'] %}
                <a href="{{ url_for('admin.update_post', post_id=post.id) }}">
                    Update post
                </a>
            {% endif %}
            <a class="float-right" href="{{ url_for('home.index') }}">Home</a>
        </div>
    </div>
{% endblock %}
