<ul>
    {% for image in images %}
        <li class="three columns">
            <div>{{ image.name }}</div>
            <div>
                {% set file_location = 'images/' + image.name %}
                <img src="{{ url_for('static', filename=file_location) }}"
                     width="240" height="135">
            </div>
        </li>
    {% endfor %}
    <div class="twelve columns">
        <button type="button"
                id="previous"
                data-pagenumbers="{{ amount_of_pages }}"
                onclick="updateNumber(this)">
            Previous
        </button>
        <button type="button"
                id="next"
                data-pagenumbers="{{ amount_of_pages }}"
                onclick="updateNumber(this)">Next
        </button>
    </div>
</ul>