{% extends "base.html" %}

{% block header_title %}Preview your Markdown{% endblock %}

{% block body %}
    <div class="row">
        <div class="twelve columns">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <span>{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <form action="{{ url_for('.upload_image') }}" method="post"
                  enctype="multipart/form-data">
                <input type="file" name="file">
                <input class="button-primary" type="submit" name="submit"
                       value="Upload">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            <a href="{{ url_for('.posts') }}">Post Overview</a>
            <a class="float-right" href="{{ url_for('home.index') }}">Home</a>
        </div>
    </div>
{% endblock %}
