<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2196F3">
    <title>{% block header_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen" charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon-152.png') }}" >
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-152.png') }}" >
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if session['logged_in'] %}
        <script src="{{ url_for('static', filename='js/image_list_ajax.js') }}" charset="utf-8"></script>
    {% endif %}
</head>
