<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block header_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',
        filename='normalize.css')}}" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',
        filename='skeleton.css')}}" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',
        filename='style.css')}}" media="screen" charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static',
        filename='favicon.ico') }}">
</head>
