<header class="header">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div class="logo-block">
                    <object class="logo" data="/static/images/logo-white.svg"
                        type="image/svg+xml"></object>
                </div>
                <a class="banner" href="{{ url_for('home.index') }}"><h1>A blog
                    about
                    anything</h1></a>
            </div>
        </div>

        <nav class="row">
            <ul>
                <li class="four columns"><a
                        href="{{ url_for('home.index') }}">Home</a>
                </li>
                <li class="four columns"><a
                        href="{{ url_for('post.posts') }}">Overview</a></li>
                <li class="four columns"><a
                        href="{{ url_for('home.about') }}">About</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
